.logo {
    width: 150px;
    float: left;
}
.logo2 {
    position: absolute;
    width: 600px;
    height: auto;
    bottom: 0;
    right: 0;
}
body {
    background-color: #f2f2f2; /* Add background color to the entire website */
    
}


.time{
    margin-bottom: -135px;
}

#rectangle{
    
    width: auto;
    height: 25px;
    background: #ffa500;
    margin-top: -40px;
    box-shadow: 0px 3px 3px;   
}

#rectangle2{
    
    width: auto;
    height: 25px;
    background: #0000ff;
    margin-top: -40px;
    box-shadow: 0px 3px 3px;
}

.Schedule{
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    color: #C78402;
    margin-top: 20px;
    margin-left: 40px;
}
.tabContainer{
    width: 100%;
    height: auto;
    align-items: flex-s;
}

.tabContainer .buttonContainer{
    
}

.buttonContainer {
    width: auto;
    height: auto;
    text-align: left;
    white-space: nowrap;
    float: center;
    margin-top: 90px; 
}

.tabContainer .buttonContainer button {
    display: inline-block; /* Display buttons inline */
    margin: 0 5px; /* Add spacing between buttons */
    border: none;
    cursor: pointer;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
    color: rgb(0, 0, 0);
}


.tabContainer .buttonContainer button:hover{
    background-color: #b97c09;
}
.tabContainer .tabPanel{ 
    height: 85%;
    color: grey;
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    display: none;
    
}

.studinfo{
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    color: #0000FF;
    margin-top: -20px;
    margin-right: -300px;
}
.studentInfo{
    text-align: left;
    color: #000000;
    font-size: 25px;   
     
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .container {
    padding: 45px;
    display: flex;
    column-gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    color: black;
    

    
    
}

.changePass {
    width: 600px;
    height: 200px;
    background: #d4dce4;
    padding: 20px;
    margin: 0 auto; /* Center horizontally */
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-top: 30px;
     
}

.changePassContainer {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Adjust height to cover the full viewport height */
     
}

.inputContainer {
    display: flex;
    justify-content: space-between; /* Space between label and input */
    align-items: center; /* Center vertically */
    width: 100%;
    margin-bottom: 10px;
     
}


.inputContainer label {
    width: 40%; /* Adjust label width */
     
    text-align: left; /* Align label text to the left */
    font-family:Arial, Helvetica, sans-serif;
    
}

.inputContainer input[type="password"] {
    width: 50%; /* Adjust input width */
     
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 40px;
    margin-right: 5px;
    
}

.inputContainer input[type="text"] {
    width: 50%; /* Occupy remaining width after accounting for button */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 40px;
    margin-right: 5px;
}

.changePass input[type="submit"] {
    margin-top: 20px;
    width: 30%; /* Occupy full width */
    padding: 10px; /* Add padding */
    background-color: #9CB3C9; /* Green background color */
    color: black; /* White text color */
    border: none; /* Remove border */
    border-radius: 20px; /* Add border radius */
    cursor: pointer; /* Add cursor pointer */
    transition: background-color 0.3s; /* Add transition effect */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.changePass input[type="submit"]:hover {
    background-color: #b97c09; /* Darken background color on hover */
}

.inputContainer button {
    width: 60px; /* Set button width */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
    cursor: pointer; 
}
 
